version: '2'

services:
  app:
    command: npx nodemon --exec npm start
    environment:
      NODE_ENV: production
      LOGGING_HTTP_REQUESTS: true

  alloy:
    environment:
      GRAFANA_LOKI_URL: https://logs-prod-035.grafana.net/loki/api/v1/push
      GRAFANA_LOKI_USERNAME: 1191028