version: '2'
services:
  app:
    build: .
    environment:
      NODE_ENV: production
      LOGGING_HTTP_REQUESTS: true
    command: npx nodemon --exec npm start
    ports:
      - '3000:3000'
    network_mode: "host"