name: Setup Node.js Environment and Run Command

on:
  workflow_call:
    inputs:
      node-version:
        description: 'Node.js version'
        type: string
        default: '20'
      
      commandDescription:
        description: 'Description of the command to execute'
        required: true
        type: string
      
      command:
        description: 'Command to execute'
        required: true
        type: string

jobs:
  setup:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ inputs.node-version }}

      - name: Install dependencies
        run: npm install

      - name: ${{ inputs.commandDescription }}
        run: ${{ inputs.command }}